body {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 34, 82);
  display:flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#controls {
  display: flex;
}